[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link i {
    font-size: 12px;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    padding-left: 25px;
    font-size: 14px;
}

.uploaded-image {
    width: 100px;
    height: auto;
}

.placeholder-image {
    width: 100px;
    height: auto;
}

/* multiple images */
.image-item {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-image {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #f44336;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-image i {
    font-size: 14px;
}

.url-container {
    padding: 5px;
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 5px;
    text-align: center;
}

.url-container a {
    color: #007bff; /* Blue color for the link */
    text-decoration: none; /* Remove underline from the link */
    transition: color 0.3s ease; /* Smooth color transition */
}

.url-container a:hover {
    color: #0056b3; /* Darker blue color on hover */
}

.url-container button {
    margin-top: 5px; /* Add some space between the link and the button */
    padding: 5px 10px;
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.url-container button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}